.TodoSearchbar__input {
  height: 40px;
  width: 70%;
  
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #1E1E1F;
  border: 2px solid var(--powder-blue);
  border-radius: 2px;
  background: #F9FBFC;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}

.TodoSearchbar::placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat';
  font-weight: 400;
}