.TodoSearchbar__input {
  height: 40px;
  width: 70%;

  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #1e1e1f;
  border: 2px solid var(--powder-blue);
  border-radius: 2px;
  background: #f9fbfc;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}

.TodoSearchbar__input::placeholder {
  color: #a5a5a5;
  font-family: "Montserrat";
  font-weight: 400;
}

.TodoSearchbar__input:disabled {
  opacity: 25%;
}
