:root {
  --melon: #ffa69eff;
  --eggshell: #faf3ddff;
  --aero-blue: #b8f2e6ff;
  --powder-blue: #aed9e0ff;
  --black-coral: #5e6472ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Exo 2', sans-serif;
}

body {
  background: var(--powder-blue);
  color: #1E1E1F;
}